In [1]:
from sqlalchemy import create_engine
import sqlalchemy as sa
from sqlalchemy.orm import sessionmaker
import pandas as pd
import string
import pymongo
from IPython.display import clear_output

In [2]:
from pythainlp.util import normalize
from newnewthaicut import word_tokenize  # IOB Tagging tokenized
from pythainlp.corpus import thai_stopwords

In [3]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["PTT_STKSOCIAL"]
col_token = mydb["STG_TOKEN"]

In [4]:
connString = 'mssql+pymssql://stksocialdev:cstksocialdev@ptt-stkdwh-p01.ptt.corp/ptt_stk_social'

In [5]:
def create_ListofDict_InsertMany(df):
    listofdict = []
    for c,lx in enumerate(df.mention_id,0):
        info = {
                "mention_id": lx,
                "mention_message" : df.mention_message[c],
                "mention_message_tokenized": df.mention_message_tokenized[c]
        }
        listofdict.append(info)
    return listofdict

In [6]:
def conn_sql(cs):
    engine = create_engine(cs, max_overflow=20, pool_size=20)
    return engine

In [7]:
garbage_char = ['','.','มกราคม', 'กุมภาพันธ์','มีนาคม', 'เมษายน','พฤษภาคม', 'มิถุนายน', 'กรกฎาคม','สิงหาคม','กันยายน'
                ,'ตุลาคม','พฤศจิกายน', 'ธันวาคม','วันจันทร์','วันอังคาร','วันพุธ','วันพฤหัสบดี','วันศุกร์','วันเสาร์','วันอาทิตย์'
                ,'จุด','สตางค์','สต.','ปี','พ.ศ.','ค.ศ.','เดือน','อะ','อ่ะ','กุ','cc.','dm','คลิก','เซนต์','gt']

naka = ['นะคะ','นะค่ะ','น่ะค่ะ','น่ะคะ','ฮ้าฟ','ค้าบ','คร้าบ']
stopwords = set(thai_stopwords()).union(set(naka))

def checkGarbage_char(w):
    returnList = []
    for i in w:  # w = comment
        for j in i:
            if i not in list_punc:
                returnList.append(i)
    return returnList

def normThai(w):
    returnList = []
    for i in w:
        returnList.append(normalize(i).lower())
    return returnList

def tokenize_custom(x):
    # วนเรียกฟังก์ชั่นนี้ทีละบรรทัด comment
    custom_punc = '!—-"$&฿/&\'()*+,:;<=>?@[\\]^_`{|}~'
    x = x.translate(str.maketrans('', '', custom_punc)).strip()
    x = x.translate(str.maketrans({"\t":None,"\n": None})).strip()
    wtkn = word_tokenize(x)
    wtkn = [j for j in wtkn if j not in stopwords]
    wtkn = [x for x in wtkn if len(x) >= 2]
    wtkn = [s for s in wtkn if not s.isdigit()]
    wtkn = normThai(wtkn)
    wtkn = [y for y in wtkn if y not in garbage_char]
    return wtkn

### Query from MSSQL & insert to MongoDB

In [8]:
# ข่าวในตารางนี้อยู่ในช่วง 18 ชม. รันแบบ truncate insert
df = pd.read_sql('select top 3000 * from out_mention_mainInfo', connString)
df = df[['mention_id','mention_message']]
df.insert(2,'mention_message_tokenized',value=None)
df.drop_duplicates(subset='mention_id',keep='first', ignore_index=True, inplace=True)

In [9]:
df.tail()

,mention_id,mention_message,mention_message_tokenized
2268,1151516385664626688_1332375361359802368,น้ำสิงห์รสชาติเหี้ยแร้วยังป่ารอยต่ออีก https:/...,None
2269,1151699594792722432_1326379625707163651,@EasyMediaAsia มันก็ดีนะที่บ้านเราจะเป็นฮับสำห...,None
2270,1151699594792722432_1327529600524533763,@jnc_journalist ได้รับความเชื่อมั่นระดับโลกแบบ...,None
2271,1151740438446923776_1303311092857233408,คุณพี่ทราบมั้ยคะทำไมประเทศไทยไม่ค่อยมีรถไฟฟ้าจ...,None
2272,1151860867350183936_1337228647099351042,ปากด่าวันไชน่าด่าอิกนอส่วนมือหยิบเค้กฝอยทองกับ...,None

In [10]:
process_data = create_ListofDict_InsertMany(df)
col_token.delete_many({})
col_token.insert_many(process_data)

In [11]:
del df

### Tokenized

In [12]:
cursor = col_token.find()
df = pd.DataFrame(cursor)

In [13]:
#df['mention_message_tokenized'] = df['mention_message'].apply(lambda x: '|'.join(tokenize_custom(x)))
df['mention_message_tokenized'] = df['mention_message'].apply(lambda x: tokenize_custom(x))

In [14]:
#df.iloc[87]['mention_message_tokenized']
df.tail()

,_id,mention_id,mention_message,mention_message_tokenized
2268,60055e87a107262e80316d2d,1151516385664626688_1332375361359802368,น้ำสิงห์รสชาติเหี้ยแร้วยังป่ารอยต่ออีก https:/...,"[น้ำสิงห์รสชาติเหี้ยแร้ว, ป่ารอยต่อ, httpst.co..."
2269,60055e87a107262e80316d2e,1151699594792722432_1326379625707163651,@EasyMediaAsia มันก็ดีนะที่บ้านเราจะเป็นฮับสำห...,"[easymediaasia, บ้าน, ฮับ, สำหรับ, lng, บ้าน, ..."
2270,60055e87a107262e80316d2f,1151699594792722432_1327529600524533763,@jnc_journalist ได้รับความเชื่อมั่นระดับโลกแบบ...,"[jncjournalist, ความเชื่อมั่น, ระดับโลก, แบบนี..."
2271,60055e87a107262e80316d30,1151740438446923776_1303311092857233408,คุณพี่ทราบมั้ยคะทำไมประเทศไทยไม่ค่อยมีรถไฟฟ้าจ...,"[คุณพี่, ทราบ, ประเทศไทย, รถไฟฟ้า, จำหน่าย, เห..."
2272,60055e87a107262e80316d31,1151860867350183936_1337228647099351042,ปากด่าวันไชน่าด่าอิกนอส่วนมือหยิบเค้กฝอยทองกับ...,"[ปากด่าวันไชน่าด่าอิก, นอ, มือ, หยิบ, เค้ก, ฝอ..."

In [15]:
process_data = create_ListofDict_InsertMany(df)
col_token.delete_many({})
col_token.insert_many(process_data)

In [16]:
del df

### Calculate TF-IDF

In [17]:
import gensim
from gensim.models import TfidfModel

In [18]:
cursor = col_token.find()
df = pd.DataFrame(cursor)

In [19]:
df.drop(columns=['_id'],inplace=True)

In [20]:
# Create Bag of Word & calculate TF-IDF
dictionary = gensim.corpora.Dictionary(df['mention_message_tokenized'])
gensim_corpus = [dictionary.doc2bow(text, allow_update=True) for text in df['mention_message_tokenized']]
model = TfidfModel(gensim_corpus)
vector = model[gensim_corpus]

In [21]:
# Word ID paring TF-IDF
word_frequencies = [[(dictionary[id], tfidf_val) for id, tfidf_val in couple] for couple in vector]

In [22]:
for i in range(0,len(word_frequencies)):
    word_frequencies[i].sort(key=lambda tup:(-tup[1], tup[0]))  # SORT LIST of TUPLE DESCENDINGLY
    word_frequencies[i] = word_frequencies[i][:10]              # KEEP TOP 10 TF-IDF ([:10])

In [23]:
#word_frequencies[0]

In [24]:
# List complehension : get the first element of each tuple in a list
# https://www.kite.com/python/answers/how-to-get-the-first-element-of-each-tuple-in-a-list-in-python
first_tuple_elements = [[a for a,tf in couple] for couple in word_frequencies]

In [25]:
colNames = ['rank1','rank2','rank3','rank4','rank5','rank6','rank7','rank8','rank9','rank10']
df_wf = pd.DataFrame(first_tuple_elements, columns=colNames)
df_wf.insert(0,'mention_id',value=df.mention_id)

In [26]:
df_wf.head()

,mention_id,rank1,rank2,rank3,rank4,rank5,rank6,rank7,rank8,rank9,rank10
0,1099288835244974081_1317858503977963521,ม๊อบ,อิ,กี่,ด่า,กฎหมายม.112110,ถีบ,บ๊ง,พ้อย,ห๊ะ,คนฟัง
1,1099359273392398337_1349374562018856961,ainonglittle,น้อง อยู่ในปั๊มปตท.ฝั่งหมิ่น,ปี่,แอนด์,ค้าน,None,None,None,None,None
2,109943339043454_3228424583861965,tops,ผลผลิต,พืชผัก,โรบินสัน,ผัก,จ.สุรินทร์,organic,สุรินทร์,ปลูก,สหกรณ์
3,1100026158119186433_1318246878400499712,วนว แจมินเพราะsm มันแบบป่ารอยต่ออะเตง,ฮุน,ชิป,เส้นสาย,เค,ทำร้าย,โพ,งั้น,จี,อ่า
4,1100367457259204609_1336547774561546240,แปะ,httpst.co1hnpkbzvlt,which,ขอบใจ,everyday,ลัฟ,wednesday,วก,แฟนคลับ,ชั่น

In [27]:
df_merge = pd.merge(df,df_wf,how='inner',on='mention_id')
del df,df_wf

In [28]:
df_merge.tail()

,mention_id,mention_message,mention_message_tokenized,rank1,rank2,rank3,rank4,rank5,rank6,rank7,rank8,rank9,rank10
2268,1151516385664626688_1332375361359802368,น้ำสิงห์รสชาติเหี้ยแร้วยังป่ารอยต่ออีก https:/...,"[น้ำสิงห์รสชาติเหี้ยแร้ว, ป่ารอยต่อ, httpst.co...",httpst.co6fsoexztin,น้ำสิงห์รสชาติเหี้ยแร้ว,ป่ารอยต่อ,None,None,None,None,None,None,None
2269,1151699594792722432_1326379625707163651,@EasyMediaAsia มันก็ดีนะที่บ้านเราจะเป็นฮับสำห...,"[easymediaasia, บ้าน, ฮับ, สำหรับ, lng, บ้าน, ...",lng,easymediaasia,บ้าน,ฮับ,พอที่จะ,ศูนย์กลาง,ความสามารถ,ดีขึ้น,ขับเคลื่อน,มีประสิทธิภาพ
2270,1151699594792722432_1327529600524533763,@jnc_journalist ได้รับความเชื่อมั่นระดับโลกแบบ...,"[jncjournalist, ความเชื่อมั่น, ระดับโลก, แบบนี...",ความเชื่อมั่น,jncjournalist,ฮับ,djsi,ธรรมดา,ไบเดน,แน่ๆ,ตอบรับ,พลังงานทดแทน,ระดับโลก
2271,1151740438446923776_1303311092857233408,คุณพี่ทราบมั้ยคะทำไมประเทศไทยไม่ค่อยมีรถไฟฟ้าจ...,"[คุณพี่, ทราบ, ประเทศไทย, รถไฟฟ้า, จำหน่าย, เห...",รถไฟฟ้า,จำหน่าย,กลด,คุณพี่,ค๊า,ภาษีนำเข้า,เหมือน,ถู,ที่อื่น,เก็บภาษี
2272,1151860867350183936_1337228647099351042,ปากด่าวันไชน่าด่าอิกนอส่วนมือหยิบเค้กฝอยทองกับ...,"[ปากด่าวันไชน่าด่าอิก, นอ, มือ, หยิบ, เค้ก, ฝอ...",นมมิ้นท์เครือป่ารอยต่ออร่อยเลยนะคะแหม,ปากด่าวันไชน่าด่าอิก,ฝอยทอง,เค้ก,หยิบ,นอ,มือ,None,None,None

### Dump insert into MSSQL

In [29]:
col1 = {
    'mention_id' : sa.NVARCHAR("MAX"),
    'mention_message_tokenized' : sa.NVARCHAR("MAX")
}

In [30]:
col2 = {
    'mention_id' : sa.NVARCHAR("MAX"),
    'rank1' : sa.NVARCHAR("MAX"),
    'rank2' : sa.NVARCHAR("MAX"),
    'rank3' : sa.NVARCHAR("MAX"),
    'rank4' : sa.NVARCHAR("MAX"),
    'rank5' : sa.NVARCHAR("MAX"),
    'rank6' : sa.NVARCHAR("MAX"),
    'rank7' : sa.NVARCHAR("MAX"),
    'rank8' : sa.NVARCHAR("MAX"),
    'rank9' : sa.NVARCHAR("MAX"),
    'rank10' : sa.NVARCHAR("MAX")
}

In [31]:
engine = conn_sql(connString)

In [32]:
#try:
#    df_merge[['mention_id','mention_message_tokenized_txt']].to_sql('out_mention_mainInfo_tokenized', engine, if_exists='replace', index=False, dtype=col1)
#    print(f'Data is completely inserted.')
#except Exception as sqlErr:
#    print(sqlErr)

In [33]:
try:
    df_merge[['mention_id','rank1','rank2','rank3','rank4','rank5','rank6','rank7','rank8','rank9','rank10']].to_sql('out_mention_mainInfo_keywords', engine, if_exists='replace', index=False, dtype=col2)
    print(f'Data is completely inserted.')
except Exception as sqlErr:
    print(sqlErr)

Data is completely inserted.

In [34]:
del df_merge